<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logistica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['cliente']">Cliente</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['producto']">Producto</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['puerto']">Puerto</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['bodega']">Bodega</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['envio']">Envio</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['envioMaritimo']">Envio Maritimo</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" [routerLink]="['envioTerrestre']">Envio Terrestre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

